.thumbnail img {
    max-height: 200px;
}
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
.thumbnail .description {
    color: rgb(82, 82, 82);
}
.price {
    font-weight: bolder;
}
